* {
    margin: 0;
    padding: 0;
}

#main {
    background-color: #eee;
}

header {
    height: 100px;
    display: flex !important;
    justify-content: space-between;
    align-items: center;
}

header > .logo {
    font-size: 30px;
}

header > .icon-var {
    font-size: 30px;
}

header > .icon-var > span {
    margin-right: 10px;
    cursor: pointer;
}

.slider {
    position: relative;
    height: 400px;
    overflow: hidden;
}

.slide-image {
    position: absolute;
    width: 100%;
    height: 100%;
    background-size: cover;
    display: flex !important;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    left: -100%;
}

.slide-image.active {
    left: 0;
}

.slide-image > .filter {
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.3);
    z-index: 1;
    top: 0;
    left: 0;
}

.slide-image > h1 {
    color: #fff;
    z-index: 10;
}

.slide-image > p {
    color: #fff;
    z-index: 10;
}

.indicator > ul {
    list-style: none;
    height: 10px;
    width: 100%;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
}

.indicator > ul > li {
    background-color: #ddd;
    transition: all 0.8s;
}

.indicator > ul > li.active {
    background-color: rgba(255, 30, 30, 0.5);
}